/* google fonts*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-size: 12px;
}
h1{
    font-size:2rem;
    margin-bottom: 2rem;
}

.card{
    display: flex;
    justify-content: center;
    align-items: stretch ;
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-right: 3rem;
    background-color: aquamarine;
}
.img-container{
    margin-right: 4rem;
}
.answer{
    display: none;
}
.question-container{
    width: 442px;
}
.question{
    margin: 1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.question h2{
    margin-right: 1rem;
}
.active{
    display: block;
}

.question-active{
    color:red;
}